body {
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  margin: 20px 8px;
}

#botones-nav {
  display: flex;
  justify-content: center;
}

.selector-botones {
  display: flex;
  background-color: #eff1f2;
  border-radius: 25px;
  position: relative;
}

.opcion {
  padding: 10px 15px;
  color: #d2d7d8;
  z-index: 200;
  cursor: pointer;
}

.opcion.active {
  background-color: #fff;
  box-shadow: #c2c2c2 1px 1px 5px;
  border-radius: 20px;
}

#opcion-activa {
  background-color: #fff;
  box-shadow: #c2c2c2 1px 1px 5px;
  border-radius: 20px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  width: 50px;
  height: 38px;
  transition: transform 0.3s ease-in-out;
}

.btn-usuario {
  color: #d2d7d8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-usuario.active {
  color: #76cdff;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.logo-section img {
  width: 200px;
}

.usuarios-section {
  background-color: #f2f4f5;
  border-radius: 15px;
  margin: 8px;
  padding: 10px;
}

#lista-usuarios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.usuario {
  text-align: center;
}

.usuario img {
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
}

.usuario.seleccionado img {
  border: 4px solid #fe5266;
  filter: opacity(70%);
}

.color-primario {
  color: #fb5265;
}

.texto-centrado {
  text-align: center;
}

.etiqueta {
  text-align: center;
}

.flama-activa {
  color: #fb5265;
}

.estrella-activa {
  color: #ffc400;
}

#contenido-3,
#contenido-2 {
  display: none;
}

#detalle-perfil {
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.12) 1px 1px 15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contenedor-detalle-perfil {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 15px;
  margin: 10px;
  padding: 10px 20px;
}

#detalle-perfil .nombre {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 5px;
}

#detalle-perfil .icono-check {
  color: #2e8cf7;
  font-size: 1.4rem;
  background-color: #fff;
  border-radius: 50%;
  height: 33px;
  width: 30px;
  padding: 1px 3px;
  margin-right: 5px;
}

#detalle-perfil .edad {
  font-size: 1.2;
  margin-right: 5px;
}

.contenerdor-gustos {
  display: flex;
}

.item-gusto {
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 4px 10px;
  margin-top: 5px;
  margin-right: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 2.2rem;
  color: #dddee2;
  margin-bottom: 5px;
}

.boton-corazon {
  background-color: #fff;
  box-shadow: #bbbbc9 1px 1px 15px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3ee9bd;
}

.contenedor-matches {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  padding: 10px;
}

.tarjeta-usuario {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  margin-bottom: 10px;
}

.tarjeta-usuario .imagen {
  flex: 1;
}

.tarjeta-usuario .detalles {
  flex: 2;
  padding-left: 15px;
}

.tarjeta-usuario .imagen img {
  width: 100%;
  border-radius: 10px;
}

.titulo-matches {
  text-align: center;
  color: #fb5265;
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 7px;
}
